html,
body,
:root {
  font: 1em/1.5 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #eee;
  box-sizing: border-box;
}

html::before,
html::after {
  content: "";
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 999999999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

html::after {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 50%;
  left: 50%;
  width: min(50vw, 50vh);
  height: min(50vw, 50vh);
  margin: calc(min(25vw, 25vh) * -1);
}


html.langchange::before,
html.langchange::after {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

html.langchange::after {
  animation: langchange infinite both ease 1s;
}

@keyframes langchange {
  0% {
    transform: rotate(0deg);
  }

  15% {
    background-size: 100%;
  }

  50% {
    background-size: 75%;
  }

  85% {
    background-size: 100%;
  }

  100% {
    transform: rotate(360deg);
  }
}


body {
  max-width: 21cm;
  margin: 0 auto;
  padding: 1cm;
  background: #fff;
  box-shadow: 0 0 0.5em #888;
  outline: 1px solid #888;
}

hr {
  border: none;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  margin: 0.25em;
  flex: 0 0 auto;
  width: 0;
  height: 1.25em;
}

a:link,
a:visited {
  color: #486;
  font-weight: 500;
  text-decoration: none;
}

a:link:hover,
a:link:focus,
a:visited:hover,
a:visited:focus {
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 0 0.25em;
}

ol,
ul {
  margin: 0;
  padding: 0 0.25em 0 1em;
  list-style: none;
}

ol {
  padding: 0 0.25em 0 1.75em;
}

ol,
ol>ol>ol>ol>ol,
ol>ol>ol>ol>ol>ol>ol>ol>ol {
  list-style: decimal;
}

ol>ol,
ol>ol>ol>ol>ol>ol,
ol>ol>ol>ol>ol>ol>ol>ol>ol>ol {
  list-style: lower-alpha;
}

ol>ol>ol,
ol>ol>ol>ol>ol>ol>ol,
ol>ol>ol>ol>ol>ol>ol>ol>ol>ol>ol {
  list-style: lower-roman;
}

ol>ol>ol>ol,
ol>ol>ol>ol>ol>ol>ol>ol,
ol>ol>ol>ol>ol>ol>ol>ol>ol>ol>ol>ol {
  list-style: lower-greek;
}

ul>li::marker,
ul>ul>ul>ul>ul>li::marker,
ul>ul>ul>ul>ul>ul>ul>ul>ul>li::marker {
  content: "\2022\0020";
  font: inherit;
  line-height: 0;
  font-size: 1.25em;
}

ul>ul>li::marker,
ul>ul>ul>ul>ul>ul>li::marker,
ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>li::marker {
  content: "\002d\0020";
}

ul>ul>ul>li::marker,
ul>ul>ul>ul>ul>ul>ul>li::marker,
ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>li::marker {
  content: "\25e6\0020";
}

ul>ul>ul>ul>li::marker,
ul>ul>ul>ul>ul>ul>ul>ul>li::marker,
ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>li::marker {
  content: "\25aa\0020";
}

h1 {
  font: 1em/1.5 var(--sans-serif);
  font-size: 2em;
  font-weight: bold;
  clear: both;
  column-span: all;
  margin: 0.25em 0 0.5em 0;
  text-align: center;
}

h2 {
  font: 1em/1.5 var(--sans-serif);
  font-size: 1.75em;
  font-weight: bold;
  clear: both;
  column-span: all;
  margin: 0.25em 0 0.5em 0;
  text-align: center;
  text-decoration: underline;
}

h3 {
  font: inherit;
  font-size: 1.5em;
  font-weight: bold;
  clear: both;
  column-span: all;
  margin: 0.25em 0 0.5em 0;
}

h4 {
  font: inherit;
  font-weight: bold;
  margin: 0 0 0.25em 0;
}

.dialog {
  overflow: auto;
  box-shadow: 0 0.25em 0.5em #0006, 0 0 2em #0006;
  border: 1px solid #0008;
  padding: 0 1em;
  width: 550px;
  min-width: min-content;
  max-width: 90vw;
  box-sizing: border-box;
  border-radius: 0.5em;
}

.dialog h1,
.dialog h2,
.dialog h3,
.dialog h4 {
  margin: 1em 0 0.5em 0;
}

.dialog p {
  margin: 1em 0.25em;
}

.dialog-form {
  background: inherit;
  margin: 0;
  padding: 0;
}

.dialog-header {
  /* position: sticky; */
  /* top: 0; */
  background: inherit;
  margin: 0 -1em 0 -1em;
  padding: 0.5em 1em;
}


.dialog-header h1,
.dialog-header h2,
.dialog-header h3,
.dialog-header h4 {
  margin: 0;
}

.dialog-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: sticky;
  bottom: 0;
  background: inherit;
  margin: 1em -1em 0 -1em;
  padding: 0.25em 1em;
  overflow: auto;
  box-shadow: 0 0 0.25em #0008;
}

.card {
  margin: 0.5em auto;
  padding: 1em;
  break-inside: avoid;
  box-sizing: border-box;
  page-break-inside: avoid;
  --color: #3c3c3c;
  --backColor: #eee;
  --shadowColor: #3c3c3c88;
  background-color: var(--backColor);
  box-shadow: 0 0 0.5em var(--shadowColor), 0 0.125em 0.25em #0008;
  outline: 1px solid var(--shadowColor);
  float: left;
  clear: both;
  z-index: 1;
  width: 100%;
}

.card h1,
.card h2,
.card h3,
.card h4 {
  color: var(--color);
}

.card.alignLeft {
  float: left;
  width: calc(50% - 0.5em);
  clear: left;
  margin: 0.5em 0.5em 0.5em 0;
}

.card.alignCenter {
  margin: 0.5em 15%;
  width: 70%;
}

.card.alignRight {
  float: right;
  width: calc(50% - 0.5em);
  clear: right;
  margin: 0.5em 0 0.5em 0.5em;
}

.tool-group-row {
  display: contents;
}

.label-group,
.tool-group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex: 0 0 auto;
  float: left;
  background: #eee;
  border-radius: 0.5em;
  margin: 0.125em;
}

.label-group.disabled,
.tool-group.disabled {
  display: none;
}

.tool,
.label {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin: 0.25em;
  border: none;
  background: none;
  font: inherit;
  padding: 0.25em 0;
  border-radius: 0.25em;
  outline: none;
  box-sizing: border-box;
  min-height: 2em;
  position: relative;
  background: #eee;
}

.label.label-input,
.label.label-output {
  flex-flow: row wrap;
  align-content: stretch;
  align-items: stretch;
  margin: 0.5em 0.25em;
}

.label-group .label,
.tool-group .tool {
  background: none;
}

.label-icon::before,
.tool::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: none;
  background-position: center center;
  background-size: 1.5em;
  background-repeat: no-repeat;
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.25em;
}

.label[disabled],
.tool[disabled] {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background: #ddd;
}

.label.active,
.tool.active {
  background: #bbb;
}

.label:hover,
.tool:hover {
  background: #ccc;
}

.label:focus,
.label:focus-within,
.tool:focus {
  outline: 1px solid;
}

.label:active,
.tool:active {
  background: #bbb;
}

.label.label-output:hover,
.label.label-output:focus,
.label.label-output:focus-within,
.label.label-output:active {
  background: #eee;
}

.label .label-text,
.tool span {
  display: inline-block;
  font-size: 0.8em;
  padding: 0 0.75em;
}

.tool span {
  padding: 0 0.75em 0 0;
}

.label-icon .label-text {
  padding: 0 0.75em 0 0;
}

.label.label-input .label-text,
.label.label-textarea .label-text,
.label.label-output .label-text {
  font-weight: bold;
  color: #486;
  background: #fff;
  padding: 0.125em 0.25em;
  border-radius: 0.25em;
  flex: 0 0 auto;
  align-self: center;
  margin: 0 0.25em;
}

.label.label-input .label-text:empty,
.label.label-textarea .label-text:empty,
.label.label-output .label-text:empty {
  display: none;
}

.label.label-input .label-input,
.label.label-textarea .label-textarea,
.label.label-output .label-output {
  display: inline-block;
  background: none;
  border: none;
  font: inherit;
  outline: none;
  padding: 0;
  margin: 0 0.25em;
  flex: 1 1 auto;
  order: 1;
  border-bottom: 2px solid #486;
}

.label.label-output .label-output {
  border: none;
}

.label.label-textarea .label-textarea {
  width: 100%;
  resize: vertical;
}

.label.label-input.label-image .label-input {
  border: none;
}

.label.label-input.label-button .label-input,
.label.label-input.label-reset .label-input,
.label.label-input.label-submit .label-input {
  display: none;
}

.label.label-input.label-button .label-text,
.label.label-input.label-reset .label-text,
.label.label-input.label-submit .label-text {
  background: none;
  flex: 1 1 auto;
  font-weight: inherit;
  color: inherit;
  padding: 0.5em;
  border-radius: 0;
}

.label.label-input .label-input[type="checkbox"],
.label.label-input .label-input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  order: 0;
  flex: none;
  width: 1.2em;
  height: 1.2em;
  padding: 0.1em;
  margin: 0.15em 0.25em 0.15em 0.5em;
  box-sizing: border-box;
  border: none;
  align-self: center;
}

.label.label-input.label-checkbox .label-input::before,
.label.label-input.label-radio .label-input::before {
  content: "";
  width: 1.25em;
  height: 1.25em;
  text-align: center;
  border: 2px solid #888;
  display: inline-block;
  vertical-align: top;
  color: #486;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 0.8em;
  line-height: 0.8;
}

.label.label-input.label-checkbox .label-input:checked::before {
  content: "\2714";
}

.label.label-input.label-radio .label-input:checked::before {
  content: "\2718";
}

.label.label-input.label-checkbox .label-input[data-checked-symbol]:checked::before,
.label.label-input.label-radio .label-input[data-checked-symbol]:checked::before {
  content: attr(data-checked-symbol);
}

.label-input[type="file"]::file-selector-button {
  display: none;
}

.label.label-input.label-radio .label-input::before {
  border-radius: 1em;
  line-height: 1.125;
  width: 1.5em;
  height: 1.5em;
  margin: -0.1em;
}

.tool.tool-backColor {
  border-bottom: 0.25em solid;
  padding-bottom: 0;
  width: 2em;
}

label.tool>input[type="color"] {
  visibility: hidden;
  opacity: 0;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button:default {
  box-shadow: 0 0 0 1px #0004;
}

.label-icon-add::before,
.tool-add::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M16,8 l0,16 m-8,-8 l16,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-alignCenter::before,
.tool-alignCenter::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,4 l24,0 m-24,24 l14,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" fill-rule="evenodd" /><path d="M8,10 l16,0 0,12 -16,0z" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="%236a8" fill-rule="evenodd" /></svg>');
}

.label-icon-alignLeft::before,
.tool-alignLeft::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,4 l24,0 m-24,24 l14,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" fill-rule="evenodd" /><path d="M4,10 l12,0 0,12 -12,0z" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="%236a8" fill-rule="evenodd" /></svg>');
}

.label-icon-alignNone::before,
.tool-alignNone::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,4 l24,0 m-24,24 l14,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" fill-rule="evenodd" /><path d="M4,10 l24,0 0,12 -24,0z" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="%236a8" fill-rule="evenodd" /></svg>');
}

.label-icon-alignRight::before,
.tool-alignRight::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,4 l24,0 m-24,24 l14,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" fill-rule="evenodd" /><path d="M16,10 l12,0 0,12 -12,0z" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="%236a8" fill-rule="evenodd" /></svg>');
}

.label-icon-backColor::before,
.tool-backColor::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M3,15 l20.75,0 c0,0,2.5,0,3.75,5.5 1,4,-4,6,1,6.5 3,0,3,3,-4,3 l-14,0 c-5,0,-12,-1,0,-2 l7,0 c0,0,4,0,7,-3 3,-3,0,-9,-2,-8.5 l-9,9 z" fill="%236a8" /><path d="M15.5,5.5 l-2,-2 -11.5,11.5 11.5,11.5 9.5,-9.5 1,1.5 m-2,-6.5 l-2,-2 m-4,1 l2,-3.5 0,-4.5" stroke="%23000" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
}

.label-icon-bold::before,
.tool-bold::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M8,24 l8,-16 8,16 m-3,-6 l-10,0" stroke="%236a8" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-check::before,
.tool-check::before,
.label-icon-save::before,
.tool-save::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6,18 l6,6 14,-14" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-close::before,
.tool-close::before,
.label-icon-multiply::before,
.tool-multiply::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M10,10 l12,12 m-12,0 l12,-12" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-copy::before,
.tool-copy::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M2,2 l0,21 15,0 0,-15 -6,-6z m9,0 l0,6 6,0" stroke="%23000" fill="%23fff" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M2,2 m9.5,7.5 l4,0 m-12,2 l12,0 m-12,2 l12,0 m-12,2 l12,0 m-12,2 l12,0 m-12,2 l12,0 m-12,2 l12,0" stroke="%236a8" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" /><path d="M2,2 m2,8 l3,-6 l3,6 m-1,-2 l-4,0" fill="none" stroke="%236a8" stroke-width="1" stroke-linejoin="round" stroke-linecap="round" /><path d="M15,9 l0,21 15,0 0,-15 -6,-6z m9,0 l0,6 6,0" stroke="%23000" fill="%23fff" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M15,9 m9.5,7.5 l4,0 m-12,2 l12,0 m-12,2 l12,0 m-12,2 l12,0 m-12,2 l12,0 m-12,2 l12,0 m-12,2 l12,0" stroke="%236a8" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" /><path d="M15,9 m2,8 l3,-6 l3,6 m-1,-2 l-4,0" fill="none" stroke="%236a8" stroke-width="1" stroke-linejoin="round" stroke-linecap="round" /></svg>');
}

.label-icon-createLink::before,
.tool-createLink::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M16,12 m-8.5,0 l17,0 m-17,0 a8.5,8.5,0,1,0,17,0 a8.5,8.5,0,1,0,-17,0 m8.5,-8.5 a4.5,8.5,0,1,0,0,17 a4.5,8.5,0,1,0,0,-17 m0,0 l0,17 m-6.5,-3 a8.5,4.5,0,0,1,13,0 m-13,-11 a8.5,4.5,0,0,0,13,0" stroke="%23000" fill="none" stroke-width="2" stroke-linecap="round" /><path d="M13,23 l-6,0 a2,2,0,0,0,0,4 l6,0 c6,0,0,-4,6,-4 l6,0 a2,2,0,0,1,0,4 l-6,0" stroke="%236a8" fill="none" stroke-width="2" stroke-linecap="round" /></svg>');
}

.label-icon-cut::before,
.tool-cut::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M9,26 a2,2,0,0,0,4,0 a2,2,0,0,0,-4,0 m2.5,-2 l4.5,-8 4.5,8 m-1.5,2 a2,2,0,0,0,4,0 a2,2,0,0,0,-4,0" fill="none" stroke="%236a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" /><path d="M9,26 m12,-23 l-8.75,19 a25,23,0,0,0,8.75,-19z" fill="%236a8" stroke="none" /><path d="M9,26 m2,-23 l8.75,19 a25,23,0,0,1,-8.75,-19z" fill="%236a8" stroke="none" /></svg>');
}

.label-icon-decreaseFontSize::before,
.tool-decreaseFontSize::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,24 l8,-16 8,16 m-3,-6 l-10,0" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /><path d="M20,4 l8,0 -4,6z" stroke="%236a8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="%236a8" fill-rule="evenodd" /></svg>');
}

.label-icon-devide::before,
.tool-devide::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6,16 m10,-6.5 l0,0 m0,13 l0,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /><path d="M8,16 l16,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-document::before,
.tool-document::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6.5,1.5 l0,29 21,0 0,-21 -8,-8z m13,0 l0,8 8,0" stroke="%23000" fill="%23fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" /><path d="M9,12 l3.5,-8 l3.5,8 m-1.5,-2.65 l-4,0 m7.5,2.6 l7,0 m-16,2.6 l16,0 m-16,2.6 l16,0 m-16,2.6 l16,0 m-16,2.6 l16,0 m-16,2.6 l16,0 m-16,2.6 l16,0" stroke="%236a8" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" /></svg>');
}

.label-icon-documentInfo::before,
.tool-documentInfo::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6.5,1.5 l0,29 21,0 0,-21 -8,-8z m13,0 l0,8 8,0" stroke="%23000" fill="%23fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" /><path d="M17,10 l0,0" stroke="%236a8" fill="none" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M17,10 m-2,7 l2,-2 0,10 -2,0 4,0" stroke="%236a8" fill="none" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round" /></svg>');
}

.label-icon-edit::before,
.tool-edit::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M10,22 l0,-3 7.375,-7.375 3,3 -7.375,7.375z" stroke="%23000" fill="%23fff" stroke-width="1" /><path d="M10,22 l0,-0.5 0.5,-0.5 0.5,0.5 -0.5,0.5z" stroke="%23666" fill="%23666" stroke-width="1" /><path d="M10,22 m8,-11 l2,-2 3,3 -2,2z" stroke="%236a8" fill="%236a8" stroke-width="1" /><path d="M6,26 c1,0,1,-2,3,-2 2,0,0,1,3,2 0,0,2,0.5,3,0 1,-0.5,1,-1,2,-1 0,0,1,0,2,1 0.5,0.5,3,0,4,0 -4,-3,0,0,3,-2" stroke="%23666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" /></svg>');
}

.label-icon-equals::before,
.tool-equals::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M8,12 l16,0 m-16,8 l16,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-exitFullscreen::before,
.tool-exitFullscreen::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,4 l5.5,5.5 2.5,-2.5 0,5 -5,0 2.5,-2.5z M28,4 l-5.5,5.5 -2.5,-2.5 0,5 5,0 -2.5,-2.5z M4,28 l5.5,-5.5 2.5,2.5 0,-5 -5,0 2.5,2.5z M28,28 l-5.5,-5.5 -2.5,2.5 0,-5 5,0 -2.5,2.5z" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="%236a8" fill-rule="evenodd" /></svg>');
}

.label-icon-foreColor::before,
.tool-foreColor::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M8,24 l8,-16 8,16 m-3,-6 l-10,0" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-fullscreen::before,
.tool-fullscreen::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M20,20 l5.5,5.5 2.5,-2.5 0,5 -5,0 2.5,-2.5z M12,20 l-5.5,5.5 -2.5,-2.5 0,5 5,0 -2.5,-2.5z M20,12 l5.5,-5.5 2.5,2.5 0,-5 -5,0 2.5,2.5z M12,12 l-5.5,-5.5 -2.5,2.5 0,-5 5,0 -2.5,2.5z" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="%236a8" fill-rule="evenodd" /></svg>');
}

.label-icon-heading1::before,
.tool-heading1::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6,8 l0,16 l0,-4 a4,4,0,0,1,8,0 l0,4" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /><path d="M20,12 l4,-4 0,16 -4,0 8,0" stroke="%236a8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /></svg>');
}

.label-icon-heading2::before,
.tool-heading2::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6,8 l0,16 l0,-4 a4,4,0,0,1,8,0 l0,4" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /><path d="M20,12 a4,4,0,0,1,8,0 c0,4,-8,4,-8,12 l8,0" stroke="%236a8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /></svg>');
}

.label-icon-heading3::before,
.tool-heading3::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6,8 l0,16 l0,-4 a4,4,0,0,1,8,0 l0,4" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /><path d="M20,12 a4,4,0,1,1,4,4 4,4,0,1,1,-4,4" stroke="%236a8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /></svg>');
}

.label-icon-heading4::before,
.tool-heading4::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6,8 l0,16 l0,-4 a4,4,0,0,1,8,0 l0,4" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /><path d="M26,8 l0,16 0,-4 2,0 -8,0 z" stroke="%236a8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /></svg>');
}

.label-icon-heading5::before,
.tool-heading5::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6,8 l0,16 l0,-4 a4,4,0,0,1,8,0 l0,4" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /><path d="M27,8 l-7,0 0,6 a2,2,0,0,0,2,2 l2,0 a2,2,0,0,1,0,8 a4,4,0,0,1,-4,-2" stroke="%236a8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /></svg>');
}

.label-icon-heading6::before,
.tool-heading6::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6,8 l0,16 l0,-4 a4,4,0,0,1,8,0 l0,4" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /><path d="M27,10 a4,4,0,0,0,-7,2 l0,8 a4,4,0,1,0,4,-4 4,4,0,1,0,4,4" stroke="%236a8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /></svg>');
}

.label-icon-hiliteColor::before,
.tool-hiliteColor::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M1.5,26 l22,0 7,-20 -20,0 z" stroke="none" fill="%236a8a" /><path d="M6,24 l8,-16 8,16 m-3,-6 l-10,0" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" /></svg>');
}

.label-icon-increaseFontSize::before,
.tool-increaseFontSize::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,24 l8,-16 8,16 m-3,-6 l-10,0" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /><path d="M20,10 l8,0 -4,-6z" stroke="%236a8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="%236a8" fill-rule="evenodd" /></svg>');
}

.label-icon-indent::before,
.tool-indent::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,4 l24,0 m-24,24 l14,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" fill-rule="evenodd" /><path d="M4,14 l6,0 0,-4 6,6 -6,6 0,-4 -6,0z m16,-4 l8,0 m-8,6 l8,0 m-8,6 l8,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="%236a8" fill-rule="evenodd" /></svg>');
}

.label-icon-insertHorizontalRule::before,
.tool-insertHorizontalRule::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,16 l24,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /><path d="M5.5,12 l4,-8 4,8 m-1.5,-3 l-5,0 m9,-5 l0,8 2,0 a2,2,0,0,0,0,-4 l-2,0 m10,3.5 a2,2,0,1,1,0,-3 m-20.5,19.5 l4,-8 4,8 m-1.5,-3 l-5,0 m9,-5 l0,8 2,0 a2,2,0,0,0,0,-4 l-2,0 m10,3.5 a2,2,0,1,1,0,-3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-insertOrderedList::before,
.tool-insertOrderedList::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M10,8 l18,0 m-18,8 l18,0 m-18,8 l18,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" fill-rule="evenodd" /><path d="M3.5,6.5 l1.5,-1.5 0,6 -1.5,0 3,0 m-3,3.5 a1.5,1.5,0,0,1,3,0 c0,1.5,-3,1.5,-3,4.5 l3,0 m-3,3.5 a1.5,1.5,0,1,1,1.5,1.5 a1.5,1.5,0,1,1,-1.5,1.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-insertUnorderedList::before,
.tool-insertUnorderedList::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M10,8 l18,0 m-18,8 l18,0 m-18,8 l18,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" fill-rule="evenodd" /><path d="M5,8 l0,0 m0,8 l0,0 m0,8 l0,0" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-italic::before,
.tool-italic::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M8,24 l11,-16 5,16 m-1.87,-6 l-10,0" stroke="%236a8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-justifyCenter::before,
.tool-justifyCenter::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6,4 l20,0 m-18,6 l16,0 m-20,6 l24,0 m-22,6 l20,0 m-16,6 l12,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-justifyFull::before,
.tool-justifyFull::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,4 l24,0 m-24,6 l24,0 m-24,6 l24,0 m-24,6 l24,0 m-24,6 l14,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-justifyLeft::before,
.tool-justifyLeft::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,4 l22,0 m-22,6 l20,0 m-20,6 l24,0 m-24,6 l22,0 m-22,6 l14,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-justifyRight::before,
.tool-justifyRight::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6,4 l22,0 m-20,6 l20,0 m-24,6 l24,0 m-22,6 l22,0 m-14,6 l14,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-newDocument::before,
.tool-newDocument::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6.5,1.5 l0,29 21,0 0,-21 -8,-8z m13,0 l0,8 8,0" stroke="%23000" fill="%23fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" /><path d="M9,12 l3.5,-8 l3.5,8 m-1.5,-2.65 l-4,0 m7.5,2.6 l7,0 m-16,2.6 l16,0 m-16,2.6 l16,0 m-16,2.6 l16,0 m-16,2.6 l16,0 m-16,2.6 l16,0 m-16,2.6 l16,0" stroke="%23666" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" /><path d="M21,5 l8,0 m-6.75,-2.75 l5.5,5.5 m-5.5,0 l5.5,-5.5 m-2.75,-1.25 l0,8" stroke="%236a8" fill="none" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" /></svg>');
}

.label-icon-note::before,
.tool-note::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,4 l24,0 m-24,24 l14,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" fill-rule="evenodd" /><path d="M7.5,7.5 l17,0 0,17 -17,0z" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="%236a8" fill-rule="evenodd" /><path d="M10,13 l12,0 m-12,3 l12,0 m-12,3 l12,0 m-12,3 l12,0" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" /><path d="M10.25,10.25 l11.5,0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" /></svg>');
}

.label-icon-outdent::before,
.tool-outdent::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,4 l24,0 m-24,24 l14,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" fill-rule="evenodd" /><path d="M4,16 l6,-6 0,4 6,0 0,4 -6,0 0,4z m16,-6 l8,0 m-8,6 l8,0 m-8,6 l8,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="%236a8" fill-rule="evenodd" /></svg>');
}

.label-icon-paragraph::before,
.tool-paragraph::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M12,24 l0,-16 4,0 a4,4,0,0,1,0,8 l-4,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%23000" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-paste::before,
.tool-paste::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M6,8 q0,-2,2,-2 l16,0 q2,0,2,2 l0,18 q0,2,-2,2 l-16,0 q-2,0,-2,-2z" stroke="%236a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="%236a8" /><path d="M9.5,4.5 l0,3 13,0 0,-3z" stroke="%23ccc" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="%23ccc" /><path d="M17.5,4.5 q0,-2,-1.5,-2 -1.5,0,-1.5,2z" stroke="%23ccc" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="none" /><path d="M15,9 l0,21 15,0 0,-15 -6,-6z m9,0 l0,6 6,0" stroke="%23000" fill="%23fff" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M15,9 m9.5,7.5 l4,0 m-12,2 l12,0 m-12,2 l12,0 m-12,2 l12,0 m-12,2 l12,0 m-12,2 l12,0 m-12,2 l12,0" stroke="%236a8" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" /><path d="M15,9 m2,8 l3,-6 l3,6 m-1,-2 l-4,0" fill="none" stroke="%236a8" stroke-width="1" stroke-linejoin="round" stroke-linecap="round" /></svg>');
}

.label-icon-print::before,
.tool-print::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M3,9 l26,0 0,14 -26,0z" stroke="%23444" fill="%23444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M4.5,10.5 l0,0z" stroke="%236a8" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M7,10 l0,-8 19,0 0,8" stroke="%23000" fill="%23fff" stroke-width="0.75" stroke-linecap="butt" stroke-linejoin="round" /><path d="M7,20.5 l0,9.5 19,0 0,-9.5" stroke="%23000" fill="%23fff" stroke-width="0.75" stroke-linecap="butt" stroke-linejoin="round" /><path d="M10,21.5 l3,6 l3,-6 m-1,2 l-4,0" fill="none" stroke="%236a8" stroke-width="1" stroke-linejoin="round" stroke-linecap="round" /><path d="M17.5,22 l6.5,0" stroke="%236a8" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" /></svg>');
}

.label-icon-redo::before,
.tool-redo::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M16,8 a8,8,0,1,0,8,8" fill="none" stroke="%236a8" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" /><path d="M16,8 l1,-3 3,4 -5,2z" fill="%236a8" stroke="%236a8" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" /></svg>');
}

.label-icon-refresh::before,
.tool-refresh::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M16,8 a8,8,0,0,0,-8,8 m8,8 a8,8,0,0,0,8,-8" fill="none" stroke="%236a8" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" /><path d="M16,8 l1,-3 3,4 -5,2z m0,16 l-1,-3 -3,4 5,2z" fill="%236a8" stroke="%236a8" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" /></svg>');
}

.label-icon-remove::before,
.tool-remove::before,
.label-icon-subtract::before,
.tool-subtract::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M8,16 l16,0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke="%236a8" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-removeFormat::before,
.tool-removeFormat::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M4,24 l8,-16 8,16 m-3,-6 l-10,0" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /><path d="M18,11 l7.375,-7.375 3,3 -7.375,7.375z" stroke="%23000" fill="%23fff" stroke-width="1" /><path d="M18,11 m-2.675,2.675 l2,-2 3,3 -2,2z" stroke="%236a8" fill="%236a8" stroke-width="1" /></svg>');
}

.label-icon-strikeThrough::before,
.tool-strikeThrough::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M8,24 l8,-16 8,16 m-3,-6 l-10,0" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /><path d="M8,16 l16,0" stroke="%236a8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-subscript::before,
.tool-subscript::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M3.5,24 l8,-16 8,16 m-3,-6 l-10,0" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /><path d="M21,28 l4,-8 4,8 m-2,-3 l-4,0" stroke="%236a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-superscript::before,
.tool-superscript::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M3.5,24 l8,-16 8,16 m-3,-6 l-10,0" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /><path d="M21,14 l4,-8 4,8 m-2,-3 l-4,0" stroke="%236a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /></svg>');
}

html::after,
.label-icon-translate::before,
.tool-translate::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M3,13 l5,-10 5,10 m-1.875,-3.75 l-6.25,0 m14.125,11.75 l10,0 m-5,0 l0,-2 m3,2 a9,9,0,0,1,-7,8 m1,-5 a9,9,0,0,0,6,5" stroke="%23000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /><path d="M18,6 a8,8,0,0,1,8,8 m-12,12 a8,8,0,0,1,-8,-8" stroke="%236a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /><path d="m26,13 l-2,0 2,3 2,-3z m-20,6 l-2,0 2,-3 2,3z" stroke="%236a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="%236a8" fill-rule="evenodd" /></svg>');
}

.label-icon-underline::before,
.tool-underline::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M8,24 l8,-16 8,16 m-3,-6 l-10,0" stroke="%23000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /><path d="M8,28 l16,0" stroke="%236a8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" /></svg>');
}

.label-icon-undo::before,
.tool-undo::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M8,16 a8,8,0,1,0,8,-8" fill="none" stroke="%236a8" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" /><path d="M16,8 l-1,-3 -3,4 5,2z" fill="%236a8" stroke="%236a8" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" /></svg>');
}

.label-icon-unlink::before,
.tool-unlink::before {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M16,12 m-8.5,0 l17,0 m-17,0 a8.5,8.5,0,1,1,8.5,8.5 m-8.5,-8.5 a8.5,8.5,0,0,0,2,5.5 m6.5,-14 l0,17 m-6.5,-3 a8.5,4.5,0,0,1,13,0 m-13,-11 a8.5,4.5,0,0,0,13,0 m-6.5,-3 a4.5,8.5,0,1,0,0,17 a4.5,8.5,0,1,0,0,-17" stroke="%23000" fill="none" stroke-width="2" stroke-linecap="round" /><path d="M10,20 l12,9 m-3,-6 l6,0 a2,2,0,0,1,0,4 l-1,0 m-10,0 l-7,0 a2,2,0,0,1,0,-4 l2.5,0" stroke="%236a8" fill="none" stroke-width="2" stroke-linecap="round" /></svg>');
}

:host(mpc-editor),
:host(mpc-toc) {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "toolbar"
    "content"
    "keyboard";
  font: 1em/1.5 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --theme-color: #6a8;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  min-width: 8em;
  min-height: 3.25em;
  margin: 0.5em 0;
  page-break-inside: avoid;
  padding: 0.5em;
  background: #fff;
}


mpc-editor p,
:host(mpc-editor) p,
mpc-toc p,
mpc-editor ol,
:host(mpc-editor) ol,
mpc-toc ol,
mpc-editor ul,
:host(mpc-editor) ul,
mpc-toc ul {
  background-image: repeating-linear-gradient(0deg, #0000 0px, #0084, #0000 1px, #0000 3em);
  background-size: 1em 1.5em;
  background-position: 0px -1px;
}

mpc-editor ol ol,
:host(mpc-editor) ol ol,
mpc-toc ol ol,
mpc-editor ul ol,
:host(mpc-editor) ul ol,
mpc-toc ul ol,
mpc-editor ol ul,
:host(mpc-editor) ol ul,
mpc-toc ol ul,
mpc-editor ul ul,
:host(mpc-editor) ul ul,
mpc-toc ul ul {
  background: none;
}

:host>.tool-group-edit {
  opacity: 0;
  transition: opacity 1.2s;
  position: sticky;
  top: 0.25em;
  right: 0.25em;
  z-index: 3;
  width: fit-content;
  height: fit-content;
  justify-self: right;
  grid-area: content;
}

:host>.tool-group-edit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  transition: visibility 2s;
}

:host(:hover)>.tool-group-edit,
:host(:focus)>.tool-group-edit {
  opacity: 1;
  transition: opacity 0.2s;
}

:host(:hover)>.tool-group-edit::after,
:host(:focus)>.tool-group-edit::after {
  visibility: hidden;
  transition: visibility 0.2s;
}

:host([edit])>.tool-group-edit {
  display: none;
}

:host(mpc-editor:hover),
:host(mpc-toc:hover),
:host([edit]) {
  outline: 2px solid var(--theme-color);
}

.toolbar {
  display: none;
  grid-area: toolbar;
  user-select: none;
  padding: 0.25em;
  overflow: auto;
  box-shadow: 0 0.25em 0.25em #0004;
  position: sticky;
  top: -2px;
  background: #fff;
  margin: -0.5em -0.5em 0.5em -0.5em;
  z-index: 2;
}

:host(body) .toolbar {
  display: flex;
  justify-content: center;
  margin: 2em -1cm -1cm -1cm;
  padding: 0.25em;
  box-shadow: 0 -0.25em 0.25em #0004;
  top: auto;
  bottom: 0;
  z-index: 3;
}

:host(body) .copyright {
  position: sticky;
  padding-bottom: 2em;
  margin-top: -1em;
  bottom: 2em;
  color: #888;
  background: #fff;
}

.content {
  grid-area: content;
  outline: none;
}

:host(body) .content {
  position: relative;
  z-index: 1;
  background: linear-gradient(0deg, #fff0, #fff 4em);
  padding-bottom: 5em;
}

.content.editable,
:host([edit]) .content {
  display: none;
}

:host([edit]) .toolbar {
  display: block;
}

:host([edit]) .content.editable {
  display: block;
  overflow: auto;
  margin: -0.5em;
  padding: 0.5em;
}

:host .keyboard {
  grid-area: keyboard;
}

:host([edit]) .keyboard::slotted(*) {
  position: relative !important;
}

:host([edit]) .keyboard {
  margin: 0.5em -0.5em -0.5em -0.5em;
}

slot {
  display: block;
  flex: 1 1 100%;
}

.end-of-document {
  position: sticky;
  bottom: calc(15% + 3em);
  left: 0;
  text-align: center;
  font-size: 3em;
  color: #ccc;
  margin: 25vh 0;
  font-weight: 100;
}

#copyright {
  text-align: center;
  border-top: 1px solid;
  padding-top: 1em;
  margin-top: 1em;
}

@media (max-height: 576px) {

  .tool-group-row {
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
  }

  .dialog-header,
  .dialog-footer {
    position: static;
  }

}

@media (max-width: 425px) {

  .tool-group-row {
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
  }

  .content {
    word-break: break-word;
  }

}

@media screen and (max-width: 700px) {
  body {
    padding: 0.5em;
  }

  :host(body) .toolbar {
    margin: 0 -0.5em -0.5em -0.5em;
  }

  .end-of-document {
    font-size: 2em;
    color: #aaa;
  }
}

@media screen and (max-width: 576px) {
  body {
    padding: 0.5em;
  }

  .card,
  .card.alignLeft,
  .card.alignCenter,
  .card.alignRight {
    float: none;
    width: calc(100% - 1em);
    clear: both;
  }

  .tool span {
    display: none;
  }
}

@media print {

  :root,
  html,
  body,
  :host(body) .content {
    background: none;
    max-width: none;
    outline: none;
    box-shadow: none;
    padding: 0;
  }

  @page {
    size: 21cm 29.7cm;
    margin: 1cm;
  }

  :host,
  mpc-editor,
  mpc-toc {
    outline: none;
  }

  .toolbar,
  .tool-group,
  .end-of-document {
    display: none !important;
  }
}